.menu{
    color: rgb(175, 172, 172);
    font-size: 1.2rem;
}
.menu-active{
    color: #fff;
}
.menu:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.card:hover{
    cursor: pointer;
}

@media(max-width : 768px){
    
    #container{
        width: 80vw !important;

    }
}